<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ecommerce</title>
</head>

<body>
	<main>
		 <h1>Hola, <%= name%>!</h1>
		<form action="/products/view" method="GET">
			<button type="submit">Ver Productos</button>
		</form>
		<form action="/logout" method="GET">
			<button type="submit">Sign out</button>
		</form>
	</main>
</body>

</html>
