<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
</head>

<body>
	<main>
		<section>
			<h1>Sign up</h1>
			<form action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
				<input type="text" name="name" placeholder="Name">
				<input type="text" name="lastname" placeholder="Last name">
				<input type="text" name="address" placeholder="Address">
				<input type="number" name="age" placeholder="Age">
				<input type="text" name="telnumber" placeholder="Telephone number">
				<input type="text" name="avatar" placeholder="Avatar image link">
				<input type="email" name="email" placeholder="Email">
				<input type="password" name="password" placeholder="Password">
				<input type="password" name="passwordVerification" placeholder="Password">
				<button type="submit">Sign up</button>
			</form>
		</section>
	</main>
</body>

</html>
