<div class="container-form">
	<form action="/products" method="POST" enctype="application/x-www-form-urlencoded">
		<input type="text" name="title" placeholder="Titulo">
		<input type="text" name="description" placeholder="Descripcion">
		<input type="number" name="price" placeholder="Precio">
		<input type="number" name="stock" placeholder="Stock">
		<input type="url" name="thumbnail" placeholder="Url Imagen">
		<button type="submit" id="products-submit">Enviar</button>
	</form>
</div>
