<div class="container">
	<div class="vista-productos">
		<%products.forEach(product => { %>
			<div class="producto">
				<p>
					<%= product.title %>
				</p>
				<p>
					<%= product.price %>
				</p>
				<img src="<%= product.thumbnail %>" alt="imagen de producto">
                <form action="/cart/<%= product._id%>" method="POST" enctype="application/x-www-form-urlencoded">
                    <button type="submit">Agregar a carrito</button>
                </form>

			</div>
		<%});%>
        <form action="/order" method="POST" enctype="application/x-www-form-urlencoded">
            <button type="submit">Crear orden</button>
        </form>
	</div>
</div>
